<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form">
              <h1>Cadastro de administradores</h1>
              <p class="text-medium-emphasis">Crie uma conta!</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input formControlName="name" autoComplete="name" cFormControl placeholder="Username" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input formControlName="email" autoComplete="email" cFormControl placeholder="E-mail" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input  formControlName="password"  autoComplete="new-password" cFormControl placeholder="Senha" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="confirmpassword" autoComplete="new-password" cFormControl placeholder="Confirme a senha" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button cButton (click)="onsubmit()" color="success">Cadastrar</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
