<div>
    <app-header-menu></app-header-menu>
    <header>


    </header>
    <main>


                   
        <div class="view intro jarallax"
        style="background-image: url(assets/images/image1.gif); background-attachment: fixed; background-size: cover; min-height: 800px">
        <div class="full-bg-img mask rgba-pink-slight">
        </div>
    </div>
        <div class="view intro jarallax"
            style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.webp); background-attachment: fixed; height: 1200px;">
            <div class="full-bg-img mask rgba-white-light">
                <div class="container">
                    <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
                        <div class="row mt-5">
                            <div class="col-md-12 wow fadeIn mb-3">
                                <div class="intro-info-content text-center">
                                    <h1>MEAN é uma singla para:</h1>
                                    <section class="noticias">
                                        <img src="assets/images/mean.png" alt="">
                                        <div>
                                            
                                            <p>
                                                <li>MongoDB: É um banco de dados não-relacional.
                                                    É utilizado na MERN stack pois os dados são manipulados no formato JSON.</li>
                                                <li>Node.js: O Node.js trabalha com JavaScript, ou seja, um
                                                    desenvolvedor que conheça bem a linguagem JavaScript não
                                                    terá dificuldades em aprender Node.js.</li>
                                                <li> Express.js: Um middleware dedicado ao
                                                    gerenciamento de apps web complexos, é
                                                    usado para criação de API REST. A API REST
                                                    corresponde a um site que recuperará dados
                                                    por meio de solicitações HTTP.</li>
                                                <li>O Angular é um framework JavaScript que simplifica
                                                     não apenas a construção da interface de usuário, mas 
                                                     também o desenvolvimento de aplicações client-side 
                                                     diferenciadas, sejam elas para a web, mobile ou desktop.
                                                    O Angular usa a linguagem 
                                                    TypeScript como padrão, ao invés do JavaScript.</li>
                                            </p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div id="sobre" class="col-md-12 text-center mb-5">
                    <h1 class="h1 font-bold light-blue-text my-5">Nossa missão</h1>
                    <p align="justify"> Sabemos que há empresas incríveis por ai e que precisam modernizar ou
                        desenvolver novos
                        sistemas web. O objetivo da iniciativa Wineron é ajudar a tornar esse sonho uma realidada.
                        Com tecnologias de ponta utilizando o MERN como padrão para desenvolvimento a Wineron oferece
                        a oportunidade de deixar o sistema web do seu jeito. Além é claro de oferecer o conhecimento e
                        experiências através do nosso blog. E é com esses objetivos que criamos esta iniciativa unindo
                        software, educação e a comunidade para que possamos crescer cada dia mais.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>



        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 text-center my-5">
                    <h1 class="h1 font-bold pink-text mb-5">Nossa História</h1>
                    <p align="justify">
                        A Wineron surgiu de uma iniciatva de um estudante
                        que tinha e continua tendo o compromisso de apresentar ao mercado soluções de desevolvimento
                        web. Especialmente utilizando a tecnologia MEAN (MongoDB, Express JS, ANGULAR 2+ e Node JS).
                        Indo muito além do compromisso original, o objetivo da Wineron é oferecer conhecimento para a
                        comunidade através de um blog próprio. Acreditamos que disseminar o conhecimento é o primeiro
                        passo
                        para o ganho de novos conhecimentos.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>

        
        <div class="view intro jarallax"
            style="background-image: url(assets/images/contentimage.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
            <div class="full-bg-img mask rgba-pink-slight">
            </div>
        </div>

    
    </main>
    <app-footer-menu></app-footer-menu>
</div>