<div>
    <app-header-menu></app-header-menu>

<header>
    
    <h1>{{ALLPOSTS.blog.titulo}}</h1>
    <table class="tabela" align="left">
        <tbody>
            <tr>
                <td> 
                    <img class="imgu" src="http://localhost:8080/images/users/{{ ALLPOSTS.blog.user.image }}">
                </td>
                <td>

                    <h5>Por {{ALLPOSTS.blog.user.name}}</h5>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>{{ ALLPOSTS.blog.updatedAt | date : "dd/MM/yyyy" : "" : "pt-BR" }}</h6>
                </td>
            </tr>
        </tbody>
    </table>
    <img src="http://localhost:8080/images/blog/{{ ALLPOSTS.blog.images }}">
</header>
<main>
    <p innerHTML="{{ALLPOSTS.blog.texto}}"></p>
</main>
<app-footer-menu></app-footer-menu>
</div>
